# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
logs/
*.log

# RL / training outputs
models/
*.zip
*.npz
events.out.tfevents.*

# Environments
.env
.venv
env/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Build
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/
